@media screen and (min-width: 480px){
	#primary{
		width:50%;
		float:left;
	}
	#secondary{
		width:40%;
		float:right;
	}
	#gallery li{
		width:28.3333%;
	}
	#gallery li:nth-child(4n){
		clear:left;
	}
	.profile-pic{
		float:left;
		margin:0 5% 80px 0;
	}
}
@media screen and (min-width: 660px){
	nav{
		background:none;
		float:right;
		margin-right: 5%;
		text-align: right;
		width:auto;
	}
	#logo{
		float:left;
		text-align: left;
		margin-left:5%;
		width:45%;
	}
	h1{
		font-size: 2.5em;
	}
	h2{
		font-size: 0.825em;
		margin-bottom: 20px;
	}
	header{
		border-bottom: 5px solid #599a68;
		margin-bottom: 60px;
	}
}